#base {
  color: AliceBlue;
}
#bronze {
  color: DarkGoldenRod;
}
#silver {
  color: Gainsboro;
}
#gold {
  color: Gold;
}
#other {
  color: white;
}
.center {
  text-align: center;
}
.bottom {
  text-align: center;
}
.buttons {
  text-align: center;
}
.payable {
  text-align: center;
}
.first_batch {
  text-align: center;
}
.first_buttons {
  text-align: center;
}
h1 {
  text-align: center;
  color: #fff;
}
